<div class="jumbotron">
    <h1 class="display-4">Eat-da-burger</h1>
    <img class="mx-auto d-block img-fluid unlock-icon" src="/public/assets/img/Burger.png" alt="burger-picture">
    <p class="lead">Please input your favorite burger</p>
    <hr class="my-4">
    <form>
        <div class="form-group">
            <div class="form-group">
                <label for="exampleFormControlTextarea1"> Input here
                </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
                </textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit Order</button>
    </form>

<h2>Cats that are not sleepy!</h2>

<ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>